In [47]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [50]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-06-03 19:57:12,-0.7393,-90.3518,78.76,85,65,10.00
1,1,Esperance,AU,2021-06-03 19:58:55,-33.8667,121.9000,53.44,83,0,9.35
2,2,Bredasdorp,ZA,2021-06-03 19:58:55,-34.5322,20.0403,57.27,82,100,4.63
3,3,Thai Binh,VN,2021-06-03 19:58:55,20.4500,106.3333,87.80,85,100,7.52
4,4,Shubarshi,KZ,2021-06-03 19:58:55,48.5872,57.1869,71.49,67,99,13.71

In [49]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Victoria,HK,2021-05-24 19:51:16,22.2855,114.1577,84.33,88,71,1.01
6,6,Les Cayes,HT,2021-05-24 19:54:33,18.2000,-73.7500,85.35,65,66,10.74
11,11,Rikitea,PF,2021-05-24 19:51:28,-23.1203,-134.9692,76.42,82,100,18.92
12,12,Faanui,PF,2021-05-24 19:51:27,-16.4833,-151.7500,81.54,75,93,11.07
14,14,Bathsheba,BB,2021-05-24 19:52:40,13.2167,-59.5167,86.61,69,40,16.24
16,16,Lorengau,PG,2021-05-24 19:52:38,-2.0226,147.2712,81.34,81,100,13.31
18,18,Wyndham,US,2021-05-24 19:51:44,37.6985,-77.6125,81.23,65,75,1.01
22,22,Albany,US,2021-05-24 19:51:35,42.6001,-73.9662,75.15,35,46,3.49
35,35,Kota Belud,MY,2021-05-24 19:54:39,6.3510,116.4305,78.66,84,99,4.36
37,37,Puerto Ayora,EC,2021-05-24 19:51:56,-0.7393,-90.3518,84.16,85,52,10.00

In [19]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [20]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4       Victoria      HK     84.33  22.2855  114.1577
6      Les Cayes      HT     85.35  18.2000  -73.7500
11       Rikitea      PF     76.42 -23.1203 -134.9692
12        Faanui      PF     81.54 -16.4833 -151.7500
14     Bathsheba      BB     86.61  13.2167  -59.5167
16      Lorengau      PG     81.34  -2.0226  147.2712
18       Wyndham      US     81.23  37.6985  -77.6125
22        Albany      US     75.15  42.6001  -73.9662
35    Kota Belud      MY     78.66   6.3510  116.4305
37  Puerto Ayora      EC     84.16  -0.7393  -90.3518

In [37]:
# Set parameters to search for a hotel.
params = {"radius": 5000, "type": "lodging", "key": g_key}

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Victoria,HK,84.33,22.2855,114.1577,Mini Hotel Central
6,Les Cayes,HT,85.35,18.2000,-73.7500,Villa Orphee
11,Rikitea,PF,76.42,-23.1203,-134.9692,Pension Maro'i
12,Faanui,PF,81.54,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
14,Bathsheba,BB,86.61,13.2167,-59.5167,Atlantis Hotel
16,Lorengau,PG,81.34,-2.0226,147.2712,Lorengau Harbourside Hotel
18,Wyndham,US,81.23,37.6985,-77.6125,Hilton Richmond Hotel & Spa/Short Pump
22,Albany,US,75.15,42.6001,-73.9662,
35,Kota Belud,MY,78.66,6.3510,116.4305,Tang Dynasty Lodge Kota Belud
37,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))